<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="assets/styles/vendors.scss" />
  <link href="assets/styles/app.scss" />
</head>
<body>

  <div class="hero is-medium is-info">
    <p class="title">The home page, testing.</p>
  </div>

    <script src="assets/scripts/vendors.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>
</html>
