<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="../assets/styles/vendors.scss" />
  <link href="../assets/styles/app.scss" />
</head>
<body>

  {{ #> header }}
  {{ > partials/header }}
  {{ /header }}

  {{#> content-block}}
    {{ content }}
    {{ /content-block }}

    {{ #> footer }}
    {{ > partials/footer }}
    {{ /footer }}

    <script src="../assets/scripts/vendors.js"></script>
    <script src="../assets/scripts/app.js"></script>
</body>
</html>
